
    
        .product--products{
            display: flex;
            align-items: center;
             flex-direction: column;
             text-align: center;
             gap: 20px;
            width: 350px;
            height: 500px;
            border-radius: 20px;
            background: transparent;
            border: 2px solid orange;
            padding: 20px;
            position: relative;
            &__text{
                p{
                    font-size: 20px;
                }
                h4{
                    color: rgb(0, 94, 255);
                    font-size: 16px;
                }
            }
            img{
                margin-top: 20px;
            }
            h1{
                font-size: 24px;
                font-weight: bold;
            }
            h3{
font-size: 18px;
font-weight: 700;

            }
            &__btns{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;
                &--count{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    gap: 10px;
                    padding: 4px 25px;
                    background: transparent;
                    border: 2px solid orange;

                }
                
                .add{
                    background: transparent;
                    border: 2px solid orange;
                    width: 130px;
                    padding: 5px;
                    font-size: 20px;
                    :hover{
                        border: 2px solid rgb(92, 0, 128);  
                    }
                }
            
            }
            .more{
                position: absolute;
                bottom: 10px;
width: 330px;
height: 230px;
background-color: orange;
color: wheat;
border-radius: 8px;
padding: 10px 10px 20px 20px;
h3{
    margin-left: 280px;

}
h1{
    font-size: 18px;
}
p{
    font-size: 17px;
}
            }
        }
  